* {
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
}

#fixed{
    position: fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.area_flex{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    height: 100%;
}

header {
    height: 170px;
}

#header-top {
    float: right;
}

#header-top span {
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}

#header-search {
    clear: both;
    padding-top: 20px;
}
#header_search > a{
    text-decoration: none;
}
#header_search h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background: url(./sp_search.png) -4px -4px no-repeat;
    vertical-align: middle;
    position: relative;
    top: -6px;
}

#header_search > a  span{
    display:none;
}

#header_search fieldset{
    margin-left: 20px;
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d;
    vertical-align: middle;
    position: relative;
}

#header_search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    width: 405px;
    height: 23px;
    vertical-align: top;
}

#header_search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    right: -2px;
    top: -2px;
}

#header_search fieldset button .search-image {
    background: url(./sp_search.png);
    background-position: -3px -60px;
    background-repeat: no-repeat;
    width:21px;
    height:21px;
    display: inline-block;
    margin: 14px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav li span:first-child{
    height: 16px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 14px;
}

nav li:first-child span:first-child{
    width: 25px;
    background-position: -259px -259px;
    margin-left: 0;
}

nav li:nth-child(2) span:first-child{
    width: 27px;
    background-position: -37px -259px;
}

nav li:nth-child(3) span:first-child{
    width: 40px;
    background-position: -182px -156px;

}

nav li:nth-child(4) span:first-child{
    width: 40px;
    background-position: -126px -130px;

}

nav li:nth-child(5) span:first-child{
    width: 26px;
    background-position: -294px 0;
}

nav li:nth-child(6) span:first-child{
    width: 25px;
    background-position: -71px -285px;
}





